body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  height: 100vh;
  margin: 50;
}

.ffrom, .fto {
  font-weight: bold;
}

.maximum {
  font-style: italic;
  font-weight: bold;
}

.price {
  color: salmon; 
  font-weight: bold;
}
